body
{
    background-image: linear-gradient(to bottom right, red, yellow);
}
#TopHeader
{
    font-family: Verdana, serif;
    text-align: center;
}
#MenuBarDiv
{
    width: 100%;
    top: 0;
    text-align: center;
    position: fixed;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    #school
    {
        font-family: Verdana, serif;
        font-size: large;
        font-weight: bold;
        background-color: yellow;
    }
    #sports
    {
        font-family: Verdana, serif;
        font-size: large;
        font-weight: bold;
        background-color: yellow;
    }
    #work
    {
        font-family: Verdana, serif;
        font-size: large;
        font-weight: bold;
        background-color: yellow;
    }
}
#SchoolDiv
{
    padding-top: 10px;
    padding-bottom: 150px;
    font-family: Verdana, serif;
    h2
    {
        font-size: 250%;
    }
    p
    {
        font-size: 200%;
    }
}
#SportsDiv
{
    padding-top: 10px;
    font-size: 200%;
    padding-bottom: 50px;
    font-family: Verdana, serif;
    h2
    {
        font-size: 250%;
    }
    p
    {
        font-size: 200%;
    }
}
#WorkDiv
{
    padding-top: 10px;
    font-size: 200%;
    padding-bottom: 400px;
    font-family: Verdana, serif;
    h2
    {
        font-size: 250%;
    }
    p
    {
        font-size: 200%;
    }
}